<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 chan board</title>
</head>
<body>
    <h1>5 chan board "{{chan}}"</h1>
    <a href=..\>list of chans</a>
    <div>
    <a href=..\makepost>make a post</a>
    <div>
        <h2>Posts</h2>
        <ul>
            {% for post in posts %}
            <li>
                <strong>{{ post[1] }}</strong>: {{ post[2] }}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
