<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 chan make post</title>
</head>
<body>
    <h1>Delete a 5chan board</h1>
    <a href=.\>list of chans</a>
    <br>
    <div>
        <form method="post">
            <label for="tiatle">Chan link:</label><br>
            <input type="text" id="chan" name="chan"><br>
            <label for="tcon">password:</label><br>
            <input type="text" id="secret" name="secret"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>

