<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 chan make post</title>
</head>
<body>
    <h1>Make a post on 5 chan</h1>
    <a href=.\>list of chans</a>
    <br>
    <div>
        <form method="post">
            <label for="tiatle">Title of post:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="tcon">post content:</label><br>
            <input type="text" id="body" name="body"><br>
            <label for="tchan">chan id:</label><br>
            <input type="text" id="chan" name="chan"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>

