<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request a chan</title>
</head>
<body>
    <h1>Request a chan</h1><br>
    <div>
        <form method="post">
            <label for="link">link of chan:</label><br>
            <input type="text" id="link" name="link"><br>
            <label for="name">name of chan:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="reason">chan reason to exist:</label><br>
            <input type="text" size="122" id="reason" name="reason"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</head>